@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
/* <!-- header starts from here --> */
.color-white{
    color:#FFFFFF;
}

#banner{
    width: 88%;
    margin: 20px auto;
    margin-bottom: 100px;
}
.banner-title{
    font-size: 70px;
}
.banner-section{
    background-color: #161616;
    border-radius: 30px;
    padding: 80px;
    display: flex;
}
h1{
    font-size: 70px;  
}
.btn{
    font-size: 20px;
    color: #FFFFFF;
    padding: 17px;
}
.img {
    position: relative;
    right: -20px;
    bottom: -87px;
    width: 535px;
}
.btn{
   border-radius: 10px;
    background-color: #DD0000;
    margin-top: 10px;
}
/* header ends here */
/* main starts from here */
#football-world{
    width: 95%;
    margin: 0 auto;
    padding-bottom: 80px;
}
.menu-bar{
    width: 312px;
    height: 312px;
    border-radius: 10px;
    background-color: black;  
    position: relative;
    margin-top: 10px;
}
#item-gallery {
    display: flex;
    justify-content: space-evenly;
}

.blogs{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}
.matches{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.menu{
    padding: 30px;
    border-radius: 5px;
}
.match-summary{
    width: 252px;
    height: 64px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 25px;
    font-size: 20px;
}
.match-summary-2{
    width: 252px;
    height: 64px;
    color: white;
    border-radius: 10px;
    background-color: red;
    margin-bottom: 25px;
    font-size: 20px;
}
.group-btn{
    width: 252px;
    height: 64px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 25px;
    font-size: 20px;
}
.blog{
    width: 252px;
    height: 64px;
    color: white;
    border-radius: 10px;
    background-color: red;
    margin-bottom: 25px;
    font-size: 20px;
}
.blog-2{
    width: 252px;
    height: 64px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 25px;
    font-size: 20px;
}
.card{
    width: 312px;
    margin: 10px;
    border: 2px solid #E8E8E8;
    border-radius: 15px;
}
.upcoming-match{
    width: 300px;
    height: 200px;
    border: 2px solid #E8E8E8;
    border-radius: 15px;
    text-align: center;
    padding-top: 58px;
    margin: 18px;
}
.match{
    display: flex;
    padding-left: 31px;
}
.vs{
    padding: 16px;
}

a {
    text-decoration: none;
    color: black;
}

.card-transfer{
    width: 100px;
    height: 32px;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 15px;
    margin-top: 15px;
}
.card-desc{
    margin-left: 15px;
}
.time{
    margin-right: 5px;
}
.messages{
    margin-right: 5px;
}
.card-msg{
    margin-right: 25px;
}
/* main ends here */
/* footer starts here */
#footer-section{
    background-color: #161616;
    padding: 25px;
    text-align: center;
    margin-top: 40px;
}
footer h4{
    font-size: 40px;
    color: white;
    padding-top: 70px;
}
footer hr{
    width: 80%;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-menu{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
#footer-option{
    list-style: none;
}
#footer-anchor{
    text-decoration: none;
    margin: 20px;
    color: white;
}
/* <!-- footer ends here --> */

@media screen and (min-width: 320px) and (max-width:480px){

.banner-section{


    flex-direction: column;
}

.banner-title{
    font-size: 45px;
}

.img {
    
    position: relative;
    top: 36px;
    width: 181px;
}
.color-white{
    font-size: 7px;
}

.btn {
    border-radius: 10px;
    background-color: #DD0000;
    margin-top: 10px;
    width: 169px;
    padding: 85px -23px;
}

}

/* resonsive for mobile devices */
@media screen and (min-width: 320px) and (max-width:480px){

    .menu {
        padding: 30px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
      
    }
  

    .blogs{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
     }

     #item-gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-menu {
        display: flex;
        margin-bottom: 100px;
        align-items: center;
        flex-direction: column;
    }

    #footer-anchor {
        text-decoration: none;
        margin: 20px;
        color: white;
        margin-bottom: 30px;
        display: block;
    }

    .footer-menu {
        display: flex;
        margin-bottom: 100px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-items: center;
        position: relative;
        left: -22px;
    }

    .matches {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .color-white {
       font-size: 24px; 
    }

}

/* responsive for tablet screen */
@media screen and (min-width:768px) and (max-width:1024px){


    .img {
        position: relative;
        right: -20px;
        bottom: -87px;
        width: 310px;
    }


    .banner-title {
        font-size: 46px;
    }

   
    .menu {
        padding: 30px;
        border-radius: 5px;
        /* display: flex; */
        flex-wrap: nowrap;
        /* background: white; */
    }

    .blogs{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
     }

     #item-gallery {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }

    .menu-bar {
        /* width: 312px; */
        /* height: 312px; */
        border-radius: 10px;
        /* background-color: black; */
        position: relative;
        margin-top: 10px;
    }

    .matches {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }


    .footer-menu {
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
        flex-direction: row;
    }


    #footer-option {
        list-style: none;
        margin-bottom: 41px;
    }
 

  
}